<!DOCTYPE html>
<html lang="es">
<head>
    <title>Editar Usuario</title>
</head>
<body>
    <h1>Editar Usuario</h1>
    <form method="POST" action="/actualizar/{{persona.rut}}">
        {% csrf_token %}
        <label for="rut">RUT:</label>
        <input type="text" id="rut" name="rut" value="{{ persona.rut }}" required><br><br>

        <label for="nombre">Nombre:</label>
        <input type="text" id="nombre" name="nombre" value="{{ persona.nombre }}" required><br><br>

        <label for="apellido">Apellido:</label>
        <input type="text" id="apellido" name="apellido" value="{{ persona.apellido }}" required><br><br>

        <input type="submit" value="Guardar cambios">
    </form>
</body>
</html>