<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <form method="post">
        {% csrf_token %}
        <div>
            <label for="{{ form.rut.id_for_label }}">Persona rut:</label>
            {{ form.rut }}
            <input type="text" name="rut" value="{{ form.rut.value }}">
        </div>
        <div>
            <label for="{{ form.nombre.id_for_label }}">Persona nombre:</label>
            {{ form.nombre }}
            <input type="text" name="nombre" value="{{ form.nombre.value }}">
        </div>
        <div>
            <label for="{{ form.apellido.id_for_label }}">Persona apellido:</label>
            {{ form.apellido }}
            <input type="text" name="apellido" value="{{ form.apellido.value }}">
        </div>
        <button type="submit">Guardar cambios</button>
    </form>
</body>

</html>