<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <form method="POST" action="/agregar">
        {% csrf_token %}
        <div>
            <br>
            <p>
            <h3>Ingrese detalles</h3>
            </p>
            <div>
                <p>Persona rut: </p> {{form.rut}}
            </div>
            <div>
                <p>Persona nombre: </p> {{form.nombre}}
            </div>
            <div>
                <p>Persona apellido: </p> {{form.apellido}}
            </div>
        </div>
        <div>
            <br>
            <button type="submit">Enviar</button>
        </div>
    </form>
</body>

</html>